extends layout 

block content
    +navbar
    div(class="carousel_container")
        div(class="carousel")
            div(id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel")
                div(class="carousel-indicators")
                    button(type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1")
                    button(type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"  aria-label="Slide 2")
                    button(type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"  aria-label="Slide 3")
                    button(type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3"  aria-label="Slide 4")
                    button(type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4"  aria-label="Slide 5")
                div(class="carousel-inner")
                    div(class="carousel-item active")
                        img(src="images/step1.jpg" class="d-block w-100" id="carousel" alt="step1")
                    div(class="carousel-item")
                        img(src="images/step2.jpg" class="d-block w-100" id="carousel" alt="step2")
                    div(class="carousel-item")
                        img(src="images/step3.jpg" class="d-block w-100" id="carousel" alt="step3")
                    div(class="carousel-item")
                        img(src="images/step4.jpg" class="d-block w-100" id="carousel" alt="step4")
                    div(class="carousel-item")
                        img(src="images/step5.jpg" class="d-block w-100" id="carousel" alt="step5")
            button(class="carousel-control-prev" id="carousel_btn" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev")
                span(class="carousel-control-prev-icon" aria-hidden="true")
                span(class="visually-hidden") Previous
            button(class="carousel-control-next" id="carousel_btn" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next")
                span(class="carousel-control-next-icon" aria-hidden="true")
                span(class="visually-hidden") Next